<!DOCTYPE html>
<html lang="en">
<head>
    <title>𓂸ඞ PoopTube 𓂸ඞ</title>
    <style>body{background-color:#1f1f1f;color:white;}a{color:#ff5d5b;}</style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="theme-color" content="#ff5d5b" />
    <meta name="color-scheme" content="dark" />
    <meta property="og:site_name" content="{{ .SiteName }}">
    <meta property="og:video" content="{{ .StreamURL }}" />
    <meta property="og:video:secure_url" content="{{ .StreamURL }}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="360" />
    <meta property="og:video:height" content="640" />
    <meta property="og:url" content="https://www.youtube.com/shorts/{{ .YoutubeVideoID }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:type" content="video" />
    <script>
        let url=new URL("https://www.youtube.com/shorts/{{ .YoutubeVideoID }}"),id="{{ .YoutubeVideoID }}",tc="&t="+url.searchParams.get("t"),ws="watch?v="+id+tc;window.location="youtube:"+ws,setTimeout(function(){window.location="vnd.youtube:"+ws},25),setTimeout(function(){window.location=url.href},50);
    </script>
</head>
<body>
<a href="https://www.youtube.com/shorts/{{ .YoutubeVideoID }}">click here.</a>
</body>
</html>